# .idea/ — whitelist: ignore all, allow only project-required files
/.idea/*
!/.idea/.gitignore
!/.idea/.name
!/.idea/AndroidProjectSystem.xml
!/.idea/compiler.xml
!/.idea/inspectionProfiles/
!/.idea/inspectionProfiles/**
!/.idea/kotlinc.xml
!/.idea/ktlint-plugin.xml
!/.idea/misc.xml
!/.idea/runConfigurations/
!/.idea/runConfigurations/**
!/.idea/vcs.xml

*.iml
.gradle
/build
/captures
.externalNativeBuild
.cxx
local.properties
secrets.properties
keystore.properties
