<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>
        <activity
            android:name="com.google.android.gms.oss.licenses.OssLicensesMenuActivity"
            android:label="@string/commonutils_open_source_licenses"
            android:theme="@style/AppTheme.OSL"
            tools:replace="android:label" />
        <activity
            android:name="com.google.android.gms.oss.licenses.OssLicensesActivity"
            android:theme="@style/AppTheme.OSL" />
        <activity android:name=".ui.activity.CommonUtilsAboutActivity" />
        <activity android:name=".ui.activity.CommonUtilsAboutMeActivity" />
        <activity android:name=".ui.activity.CommonUtilsSettingsActivity" />
    </application>

</manifest>